In [87]:
# import os

# os.listdir('../data_news')

In [88]:
# def update_phase(new_contents):
#     file_path = "../src/checkpoint/CHAMELEON/training.txt"  # Replace with the actual file path

#     # Open the file for writing (this will overwrite the existing contents)
#     with open(file_path, "w") as file:
#         file.write(new_contents)
#     print("File overwritten successfully.")

In [86]:
# import schedule
# import time
# def build_retrain_model() -> None:
#     update_phase('True')
#     time.sleep(3)
#     print('inside')
#     update_phase('False')
    
# if __name__ == "__main__":
#     build_retrain_model()
#     schedule.every(10).seconds.do(build_retrain_model).tag("run_retrain_model", 1)
#     while True:
#         schedule.run_pending()
#         time.sleep(1)

In [96]:
import torch

a = torch.randint(1,2,(3,2))
y = torch.zeros(len(a)).long()
y

tensor([0, 0, 0])

In [94]:
import torch.nn as nn
criterion = nn.CrossEntropyLoss()

In [98]:
criterion(a.float(), y)

tensor(0.6931)

In [136]:
import pandas as pd
from ast import literal_eval

df = pd.read_csv('../data_news/31-7-2023/train/behaviors_data.csv', converters={
                attribute: literal_eval
                for attribute in set([
                    'clicked_news', 'click_0_itemIDs'
                ])
            })
df.head()

,dt,user,clicked_news,click_0_itemIDs,candidate_news,clicked
0,2023-07-18 15:01:26,3764870302246545166,[188230718072648501],"[188230718152841555, 188230718114525449, 18823...",188230718072648501,1 0 0 0
1,2023-07-10 17:44:05,4653250051953221246,"[188230710065353612, 188230710141730958, 18823...","[188230706140134781, 188230630134929958, 18823...",188230710173301174,1 0 0 0
2,2023-07-20 16:10:56,5271874081907690088,"[188230720111947623, 188230719084630922]","[188230720155405648, 188230720160622212, 18823...",188230720134314893,1 0 0 0
3,2023-07-24 13:02:48,8487359277249698085,"[188230724102123608, 188230723094632053]","[18823072212173673, 18823072407091647, 1882307...",18823072408560719,1 0 0 0
4,2023-07-12 09:26:31,1312125071934495494,"[18823071209064702, 188230712085856526]","[188230711233637218, 188230711233904013, 18823...",188230712073856277,1 0 0 0

In [137]:
df.head()

,dt,user,clicked_news,click_0_itemIDs,candidate_news,clicked
0,2023-07-18 15:01:26,3764870302246545166,[188230718072648501],"[188230718152841555, 188230718114525449, 18823...",188230718072648501,1 0 0 0
1,2023-07-10 17:44:05,4653250051953221246,"[188230710065353612, 188230710141730958, 18823...","[188230706140134781, 188230630134929958, 18823...",188230710173301174,1 0 0 0
2,2023-07-20 16:10:56,5271874081907690088,"[188230720111947623, 188230719084630922]","[188230720155405648, 188230720160622212, 18823...",188230720134314893,1 0 0 0
3,2023-07-24 13:02:48,8487359277249698085,"[188230724102123608, 188230723094632053]","[18823072212173673, 18823072407091647, 1882307...",18823072408560719,1 0 0 0
4,2023-07-12 09:26:31,1312125071934495494,"[18823071209064702, 188230712085856526]","[188230711233637218, 188230711233904013, 18823...",188230712073856277,1 0 0 0

In [129]:
t_df = pd.DataFrame({'clicked':[[1,2,3,4]], 'clicked_0':['1 0 0 0']})
t_df

        clicked clicked_0
0  [1, 2, 3, 4]   1 0 0 0

In [147]:
from random import shuffle

def shuffle_list(row):
    list_clicked_0 =  row['clicked'].split()
    print(type(row['click_0_itemIDs']))
    list_can = [row['candidate_news']] + row['click_0_itemIDs'] 
#     print(row['clicked'], list_clicked_0)
    l =list(zip(list_can, list_clicked_0))
    shuffle(l)
    a, b = zip(*l)
#     print(list(a), list(b))
    row['candidate_news'] = list(a)
    row['clicked_0'] = ' '.join(list(b))
    
    return row

In [148]:
df = df.apply(shuffle_list, axis=1)
df.head()

<class 'str'>

TypeError: can only concatenate list (not "str") to list

In [62]:
df = df[df['user'].apply(lambda x: x.isdigit())].reset_index(drop=True)

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17159 entries, 0 to 17158
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   dt               17159 non-null  object
 1   user             17159 non-null  object
 2   clicked_news     17159 non-null  object
 3   click_0_itemIDs  17159 non-null  object
 4   candidate_news   17159 non-null  int64
 5   clicked          17159 non-null  object
dtypes: int64(1), object(5)
memory usage: 804.5+ KB

In [44]:
df_to_csv[df_to_csv['click_0_itemIDs'].apply(lambda x: len(x) > config.k_candidate_train - 1)]

In [35]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34708 entries, 0 to 34712
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   dt               34708 non-null  object
 1   user             34708 non-null  object
 2   clicked_news     34708 non-null  object
 3   click_0_itemIDs  34708 non-null  object
 4   candidate_news   34708 non-null  int64
 5   clicked          34708 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.9+ MB

In [64]:
df.to_csv('../data_news/weekly_data/val/behaviors_data.csv', index = False)

In [34]:
logs_df = pd.read_csv('../data_news/31-7-2023/log.csv')
logs_df.head()

,dt,user,clicked_news,click_0_itemIDs,candidate_news
0,2023-07-10 17:12:21,1000869511963106373,"[188230709220927133, 188230710103227318, 18823...","[18823071016062482, 188230710155859745, 188230...",188230710160516309
1,2023-07-10 18:36:38,1003963166457294478,"[188230710163501832, 188230710121456856, 18823...","[188230710133400489, 188230710140219304, 18823...",188230710140219304
2,2023-07-10 17:20:10,1004173811963373118,[188230710150507105],"[188230707103716363, 188230710151047815, 18823...",188230710151047815
3,2023-07-10 14:53:39,1004623683250147708,"[188230709123843263, 18823071007575433, 188230...","[188230709125650879, 188230709083753385, 18823...",188230709125650879
4,2023-07-10 09:12:51,1004833161953899231,[188230710090223897],"[20211015164528935, 188230626121804638, 188230...",188230709235357518

In [45]:
news_df = pd.read_csv('../data_news/31-7-2023/news_data.csv')
news_df.head()

,newsId,sourceNews,publishDate,catId,title,sapo
0,18823071009341549,CafeF,2023-07-10 09:31:00,188112,"Cấm xe máy vào nội đô, người dân đi lại bằng p...",Việc Hà Nội quay lại chủ trương cấm xe máy vào...
1,20170511213658244,CafeF,2017-05-12 09:37:00,114,8 mẫu đồng hồ mới nhất của Rolex: Dù là đấng m...,Vốn được biết đến là một trong những thương hi...
2,20210630151503985,CafeF,2021-06-30 15:14:39,36,"Chân dung ""ông trùm"" giáo dục tư nhân ở Việt N...",Tập đoàn Nguyễn Hoàng hiện có 60 cơ sở giáo dụ...
3,20210924065521798,CafeF,2021-09-24 08:00:00,34,Cá nhân hoá theo nhu cầu khách hàng - Tương la...,Tiến bộ công nghệ và dữ liệu thúc đẩy các ngân...
4,20211209164554372,CafeF,2021-12-10 08:03:23,114,3 cặp đôi “vàng” trên thương trường Việt: Vừa ...,"Họ là những ""cặp đôi vàng"" trên thương trường,..."